doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_navMain.pug
        
        section.o-cartNav
            .container.o-cartNav__container
                .o-cartNav__single.-complete
                    .o-cartNav__title Nákupní košík
                    .o-cartNav__number 1
                .o-cartNav__single.-active
                    .o-cartNav__title Doprava a platba
                    .o-cartNav__number 2
                .o-cartNav__single
                    .o-cartNav__title Osobní údaje
                    .o-cartNav__number 3
                .o-cartNav__single
                    .o-cartNav__title Shrnutí objednávky
                    .o-cartNav__number 4


        section.o-cartNavResponsive
            a.o-cartNavResponsive__link.-prev(href="/kosik.html?krok=1")
                span.a-icon.-cheveron.o-cartNavResponsive__icon
            p.o-cartNavResponsive__title 2/4 Doprava a platba
            a.o-cartNavResponsive__link.-next(onclick="$('#delivery-form-submit').trigger('click');")
                span.a-icon.-cheveron.o-cartNavResponsive__icon

        .a-cartNavResponsivePush

        main
            .container

                .m-cartOverview
                    .m-cartOverview__product(data-price="10000")
                        .m-cartOverview__productSingle
                            .m-cartOverview__productThumb
                                img.m-cartOverview__productImg(src=URLbase+"img/product-thumb-small.jpg" at="#" title="#")
                            .m-cartOverview__productNumber 2x

                        .m-cartOverview__productSingle
                            .m-cartOverview__productThumb
                                img.m-cartOverview__productImg(src=URLbase+"img/product-thumb-small.jpg" at="#" title="#")
                            .m-cartOverview__productNumber 2x

                        .m-cartOverview__productSingle(data-toggle="tooltip" data-html="true" title="Produkt název<br>Produkt název<br>Produkt název" data-placement="right")
                            .m-cartOverview__productThumb.-more
                                .m-cartOverview__productImg +10
                            .m-cartOverview__productNumber

                    .m-cartOverview__plus 

                    .m-cartOverview__shipping
                        .m-cartOverview__shippingText Způsob dopravy
                        .m-cartOverview__shippingWrap
                            .m-cartOverview__shippingTitle Nevybráno
                            .m-cartOverview__shippingNumber

                    .m-cartOverview__plus 

                    .m-cartOverview__payment
                        .m-cartOverview__paymentText Způsob platby
                        .m-cartOverview__paymentWrap
                            .m-cartOverview__paymentTitle Nevybráno 
                            .m-cartOverview__paymentNumber

                    .m-cartOverview__equals 

                    .m-cartOverview__price
                        .m-cartOverview__priceText Celková cena s DPH
                        .m-cartOverview__priceTitle 10 000 Kč




                form.o-cartDeliveryForm(method="post" action="" name="delivery_form" id="delivery_form")
                    h2.o-cartDeliveryForm__title Zvolte způsob dopravy

                    .row

                        .col-12.col-sm-6.col-md-4.col-lg-3.o-cartDeliveryForm__col
                            label.o-cartDeliveryForm__item.m-cartDeliveryItem(for="delivery_form_shipping-1")
                                input.m-cartDeliveryItem__input(type="radio" name="doprava" id="delivery_form_shipping-1" required checked)
                                .m-cartDeliveryItem__iconWrap
                                    span.a-icon.-store.m-cartDeliveryItem__icon
                                    span.a-icon.-store.m-cartDeliveryItem__icon.-white
                                .m-cartDeliveryItem__top
                                    h3.m-cartDeliveryItem__title Osobní odběr 
                                    p.m-cartDeliveryItem__text Paskov, rudé armády 77 (po osobní tel. domluvě)
                                .m-cartDeliveryItem__bottom    
                                    span.btn.-secondary.-transparent.m-cartDeliveryItem__price 0 Kč
                                
                        .col-12.col-sm-6.col-md-4.col-lg-3.o-cartDeliveryForm__col
                            label.o-cartDeliveryForm__item.m-cartDeliveryItem(for="delivery_form_shipping-2")
                                input.m-cartDeliveryItem__input(type="radio" name="doprava" id="delivery_form_shipping-2" required)
                                .m-cartDeliveryItem__iconWrap
                                    span.a-icon.-car.m-cartDeliveryItem__icon
                                    span.a-icon.-car.m-cartDeliveryItem__icon.-white
                                .m-cartDeliveryItem__top
                                    h3.m-cartDeliveryItem__title GLS
                                    p.m-cartDeliveryItem__text Přepravní společnost
                                .m-cartDeliveryItem__bottom    
                                    span.btn.-secondary.-transparent.m-cartDeliveryItem__price 149 Kč



                    h2.o-cartDeliveryForm__title Zvolte způsob platby

                    .row

                        .col-12.col-sm-6.col-md-4.col-lg-3.o-cartDeliveryForm__col
                            label.o-cartDeliveryForm__item.m-cartDeliveryItem(for="delivery_form_payment-1")
                                input.m-cartDeliveryItem__input(type="radio" name="platba" id="delivery_form_payment-1" required)
                                .m-cartDeliveryItem__iconWrap
                                    span.a-icon.-card.m-cartDeliveryItem__icon
                                    span.a-icon.-card.m-cartDeliveryItem__icon.-white
                                .m-cartDeliveryItem__top
                                    h3.m-cartDeliveryItem__title Převodem
                                    p.m-cartDeliveryItem__text Celkovou částku převedete na náš účet předem
                                .m-cartDeliveryItem__bottom    
                                    span.btn.-secondary.-transparent.m-cartDeliveryItem__price 0 Kč
                                
                        .col-12.col-sm-6.col-md-4.col-lg-3.o-cartDeliveryForm__col
                            label.o-cartDeliveryForm__item.m-cartDeliveryItem(for="delivery_form_payment-2")
                                input.m-cartDeliveryItem__input(type="radio" name="platba" id="delivery_form_payment-2" required disabled)
                                .m-cartDeliveryItem__iconWrap
                                    span.a-icon.-box.m-cartDeliveryItem__icon
                                    span.a-icon.-box.m-cartDeliveryItem__icon.-white
                                .m-cartDeliveryItem__top
                                    h3.m-cartDeliveryItem__title Dobírka
                                    p.m-cartDeliveryItem__text Celkovou částku zaplatíte při dodání zboží
                                .m-cartDeliveryItem__bottom    
                                    span.btn.-secondary.-transparent.m-cartDeliveryItem__price 10 Kč

                        .col-12.col-sm-6.col-md-4.col-lg-3.o-cartDeliveryForm__col
                            label.o-cartDeliveryForm__item.m-cartDeliveryItem(for="delivery_form_payment-3")
                                input.m-cartDeliveryItem__input(type="radio" name="platba" id="delivery_form_payment-3" required)
                                .m-cartDeliveryItem__iconWrap
                                    span.a-icon.-wallet.m-cartDeliveryItem__icon
                                    span.a-icon.-wallet.m-cartDeliveryItem__icon.-white
                                .m-cartDeliveryItem__top
                                    h3.m-cartDeliveryItem__title V hotovosti
                                    p.m-cartDeliveryItem__text Zaplatíte osobně na prodejně
                                .m-cartDeliveryItem__bottom    
                                    span.btn.-secondary.-transparent.m-cartDeliveryItem__price 0 Kč


                
                    .m-cartButtons
                        a.btn.-dark(href="#") Krok zpět
                        button.btn.-secondary(type="submit" id="delivery-form-submit") Osobní údaje #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]

                        
            .m-cartBarResponsive
                .m-cartBarResponsive__priceWrap
                    p.m-cartBarResponsive__text Celková cena s DPH
                    h3.m-cartBarResponsive__price #[span 65 599] Kč
                .m-cartBarResponsive__btnWrap
                    button.btn.-secondary.m-cartBarResponsive__btn(onclick="$('#delivery-form-submit').trigger('click');") Osobní údaje #[span.a-btnIcon #[span.a-icon.-cheveron.-white]] 

        include partials/_footer.pug

        include partials/_js-include.pug