doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_navMain.pug
        include partials/_navProducts.pug
                
        include partials/_breadcrumb.pug
        main
            .container
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-3

                    .col-12.col-sm-12.col-md-12.col-lg-6

                        form.o-form(method="post" action="" class="login-form" name="login_form")

                            h2.o-form__title Zapomenuté heslo
                            p.o-form__text Pokud jste zapomněli své heslo, pošleme Vám nové na email, který jste uvedli při registraci.

                            .o-form__group.m-formGroup
                                input.m-formGroup__input(type="email" name="login_form_email" id="login_form_email" autocomplete="email" required placeholder=" ")
                                label.m-formGroup__label(for="login_form_email") Emailová adresa
                                span.m-formGroup__error Neplatný email
                                span.m-formGroup__success


                            button.btn.-secondary.-fullWidth(type="submit" id="login_form_submit") Poslat nové heslo

     

                    .col-12.col-sm-12.col-md-12.col-lg-3


        include partials/_footer.pug

        include partials/_js-include.pug
